@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    font-family: Garamond, Baskerville, "Times New Roman", serif;
    color: white;
    font-size: 1.1rem;
}

body {
    background-color: #EC008C;
}

img {
	width: 100%;
    display: block;
}

.logo {
    height: 14rem;
    width: auto;
    margin: .5rem auto;
    
}

article {
    margin: 0;
    padding: 0 5%;
    overflow: hidden;
}

h1 {
    margin: 0rem 0;
    font-size: 1.25rem;
}  

figure {
    margin: 0 auto 1.5rem; 
    width: 100%; 
    padding: 1rem;
}

figcaption {
    font-size: .7rem;
    color:  white;
    margin: .05rem;
    padding: .5rem;
}

h2 {
    font-size: 1.5rem;
    color: #FFF200;
}

h3 {
    font-size: 1.5rem;
    color: #FFF200;
}

h4 {
    font-size: 1.5rem;
    color: #FFF200;
}

h5 {
    font-size: 1.5rem;
    color: #FFF200;
}
img {
	width: 100%;
    display: block;
}

.logo2 {
    height: auto;
    width: auto;
    margin: 1rem;
}

footer p {
    font-size: .7rem;
    color:  white;
    margin: 1rem;
}

a {
    color:#FFF200
}